/* Assurer que le HTML et le body couvrent toute la page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D50000 !important;
}

/* Le conteneur principal pour centrer le contenu */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* S'assure que le conteneur couvre toute la hauteur */
}

/* Formulaire stylisé, réduit à 50% de la largeur et centré */
#monFormulaire {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 50%; /* Réduit à 50% de la largeur */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Centre le formulaire horizontalement */
}

/* Timer grand et centré */
#affichage {
    color: white;
    font-size: 50px;
}

/* Bouton de démarrage/arrêt */
#monBouton {
    background-color: white;
    color: #D50000;
    border: none;
    padding: 10px 30px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#monBouton:hover {
    background-color: #FF5252;
}

/* Ajustement du titre "Temps de travail" */
#intitule {
    color: white;
    font-size: 24px;
}
