/* Assurer que le HTML et le body couvrent toute la page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D50000 !important; /* Rouge vif */
}

h1 {
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

#moncercle {
    background: #D50000;
    border-radius: 50%;
    width: 360px;
    height: 360px;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeT {
    font-size: 25px;
    margin-right: 5px;
    color :white;
}

#timeP {
    font-size: 25px;
    margin-left: 5px;
    color: white;
}

.enPause {
    background-color: green;
}

/* Le conteneur principal pour centrer le contenu */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* S'assure que le conteneur couvre toute la hauteur */
}

/* Timer grand et centré */
#affichage {
    color: white;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

#disparition {
    display: contents;
}

/* Formulaire en bas de la page */
#formulaire {
    display: none; /* Masqué par défaut */
    margin-top: 20px; /* Espacement au-dessus du formulaire */
}

/* Disposition des boutons */
.button-container {
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centre les boutons horizontalement */
    margin-top: 20px; /* Espacement au-dessus des boutons */
}



/* Formulaire stylisé avec une taille fixe */
#monFormulaire {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 100%; /* Taille du formulaire adaptée */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Ajustement des groupes de champs pour qu'ils soient côte à côte */
.form-group .input-group {
    display: flex;
    justify-content: space-between; /* Pour espacer les champs */
    align-items: center;
}

/* Réduction des champs d'entrée */
.input-group input {
    width: 45%; /* Réduit la largeur des champs à 45% de l'espace disponible */
    margin: 0 5px; /* Espacement horizontal entre les champs */
}

/* Ajustement du texte des labels pour alignement */
.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
}

/* Bouton d'envoi */
#formBouton {
    width: 100%; /* Bouton de soumission en pleine largeur */
    padding: 10px;
    font-size: 16px;
}
